body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fit-c {
  width: fit-content;
}

.hero-bg {
  padding: 0 !important;
  background: url("/images/hero.jpg") no-repeat center;
  color: white;
}

.hero-overlay {
  padding: 14em 16em !important;
  background-color: rgba(0,0,0,0.7);
}

.contact-icon {
  width: 64px;
}